/* Reset some default styling */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  section {
    padding: 50px;
  }
  
  /* Enhancements for better design */
  #hero {
    background: url("../static/images/1.png") center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 150px 0;
  }

  #hero h1
  { color: #46004e;
    font-weight: 600; 
  }
  #about {
    background: url("../static/images/2.png") center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 150px 0;
  }

  #about h2{
    text-align: center;
    display: block;
    font-size: 40px;
    padding-right: 600px; 
    color: #46004e;
    font-weight: 600; 
  }
  #about p{
    display: flex;
    text-align:left;
    margin: 5px;
    

  }
  
  #features {
    background: url("../static/images/3.png") center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 150px 0;
  }

  #features ul li h2{
    text-align: left;
    font-size: 20px;
    padding: 0px;
    
  }
  #features ul li{
    text-align: left;
    display: block;
    padding-left: 600px; 
 
  }
  #features h2{
    padding-left: 600px; 
    font-size: 40px;
    color: #46004e;
    font-weight: 600; 
  }

  #features ul li p{
    text-align: left;
    display: block;
    padding-left: 100px;
  }

  #trust{
    background: url("../static/images/4.png") center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 150px 0;
  }

  #trust h2{
    color: #46004e;
    font-weight: 600; 
    font-size: 40px;
  }
  #reward{
    background: url("../static/images/5.png") center/cover no-repeat;
    color: #fff;
    padding: 150px 0;
  

  }
  #privacy{
    background: url("../static/images/7.png") center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 150px 0;
  }
  