<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#about">About Us</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#feedback">Feedback</a></li>
        <li><a href="#privacy">Privacy Policy</a></li>
      </ul>
    </nav>
  </header>
  

  <footer>
    <p>&copy; 2023 ANALYTIX. All rights reserved.</p>
  </footer>
</body>
</html>
