{%extends "base.html" %}
{%block title%}

{%endblock%}
{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='csign.css') }}">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form method="POST">
            <label for="company_name">Company Name</label>
            <input type="text" id="company_name" name="company_name" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Sign Up</button><br>
            <a href="/clogin" class="button">already signed in?</a>
        </form>
    </div>
</body>
</html>
{%endblock%}